* {
    border:        none;
    border-radius: 0;
    font-family:   JetBrains Mono;
    font-size:     15px;
    box-shadow:    none;
    text-shadow:   none;
    transition-duration: 0s;
}

window#waybar{
    color:      rgba(217, 216, 216, 1);
    background: #3E515A;
}

#workspaces {
    margin: 0 0px;
}

#workspaces button {
    padding:    0 2px;
    color:      rgba(217, 216, 216, 1);
    border-bottom: 3px solid transparent;
    border-top: 3px solid transparent;
}

#workspaces button.visible {
    color:      rgba(217, 216, 216, 1);
}

#workspaces button.focused {
    background: #64727D;
    border-top: 3px solid white;
    border-bottom: 3px solid white;
}

#workspaces button.urgent {
    color:      rgba(238, 46, 36, 1);
}

#mode, #battery, #cpu, #memory, #network, #pulseaudio {
    margin:     0px 6px 0px 10px;
    min-width:  25px;
    font-weight: bold;
}

#clock {
    margin:     0px 16px 0px 10px;
    min-width:  140px;
    font-weight: bold;
}